* {
  font-family: Montserrat, sans-serif;
}
.navbar {
  display: flex;
  background-color: black;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #637a9f !important; /* veya istediğiniz renk */
}
.header-card .card {
  position: relative;
  cursor: pointer;
}
.header-card .card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-card .card .overlay-content {
  color: white;
  font-size: 1.4rem;
  z-index: 1;
}
.header-card .card:hover .overlay {
  opacity: 1;
}
.header-card .card:hover img {
  box-shadow: 0 0 10px rgb(252, 0, 0);
}
.header-card .card .overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.gezegenler .card {
  cursor: pointer;
  display: flex;
}
.gezegenler .card-body {
  height: 18rem;
  overflow: hidden;
  position: relative;
}
.gezegenler .card-body .tags {
  position: absolute;
  bottom: 1rem;
}
@media (max-width: 768px) {
  .header-card {
    overflow-x: auto; /* Yatay kaydırma çubuğu eklemek için */
  }
  .col-md-2 {
    margin: 0;
    padding: 0;
    right: 0;
    flex: 0 0 calc(50% - 20px);
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch; /* mobilde dokunmatik kaydırma*/
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
/* *footer a linkleri */
.link-text {
  color: #c7c8cc;
}
/* *footer email input */
.ftr-inp {
  background: none;
  border: none;
  outline: none;
  margin-top: 1rem;
  padding: 0.6rem 2rem;
  font-size: 16px;
  border-radius: 0.2rem;
  color: #fff;
}
